<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<display-name>AssessmentEngine</display-name>
<jsp-config>
   <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core_rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt_rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
 </jsp-config>
  <context-param>
    <param-name>debug</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/assessmentengine</param-value>
  </context-param>
  <context-param>
    <param-name>dbuser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbpassword</param-name>
    <param-value>rootadmin</param-value>
  </context-param>
	<filter>
		<description>
		</description>
		<display-name>AuthenticationFilter</display-name>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.satya.Filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.satya.listener.ServletListener</listener-class>
	</listener>
	<servlet>
		<description>
		</description>
		<display-name>BaseServletClass</display-name>
		<servlet-name>BaseServletClass</servlet-name>
		<servlet-class>com.satya.Servlets.BaseServletClass</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminUserServlet</display-name>
		<servlet-name>AdminUserServlet</servlet-name>
		<servlet-class>com.satya.Servlets.AdminUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.satya.Servlets.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserServlet</servlet-name>
		<url-pattern>/AdminUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BaseServletClass</servlet-name>
		<url-pattern>/BaseServletClass</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/User</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>